@charset "utf-8";

.contents .sec-title .contents-title {
  font-family: "HIMaumL", "Noto Sans KR", serif;
  font-size: 40px;
}

.sec-intro .sec-title h2 {
  font-family: "HIMaumL", "Noto Sans KR", serif;
  font-size: 26px;
  line-height: 1.4;
  color: #1f1f21;
}

.part-insurance .title-area .desc {
  font-size: 18px;
  color: #1f1f21;
}

.part-insurance.car .title-area .desc,
.part-insurance.children .title-area .desc {
  font-size: 14px;
  color: #555;
}

.part-insurance.car .title-area .highlight-text,
.part-insurance.children .title-area .highlight-text {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #1f1f21;
}

.part-insurance .button-area .link {
  border: 1px solid #dfdfe1;
  border-radius: 12px;
  font-weight: 700;
  font-size: 17px;
  background-color: #fff;
}

.part-insurance .button-area .link.active {
  color: #fff;
  background-color: #ee5a00;
  border: 1px solid transparent;
}

.part-insurance .badge {
  border-radius: 16px;
  letter-spacing: -0.04em;
  font-size: 14px;
}

.part-insurance .badge.orange {
  color: #de5400;
  background-color: #fff3f0;
}

.part-insurance .badge.green {
  color: #319700;
  background-color: #f3ffed;
}

.part-insurance .badge.blue {
  color: #007cd4;
  background-color: #f0f5ff;
}

.part-insurance.car .bg {background: url("../image/img_sec_car.png") no-repeat 140px 130px}
.part-insurance.drive .bg {background: url("../image/img_sec_drive.png") no-repeat 0 40px;}
.part-insurance.health .bg {background: url("../image/img_sec_health.jpg") no-repeat 0 80px;}
.part-insurance.children .bg {background: url("../image/img_sec_children.png") no-repeat 0 80px;}
.part-insurance.house_fire .bg {background: url("../image/img_sec_house_fire.png") no-repeat 0 80px;}
.part-insurance.travel .bg {background: url("../image/img_sec_travel.png") no-repeat 0 80px;}
.part-insurance.golf .bg {background: url("../image/img_sec_golf.png") no-repeat 0 80px;}
.part-insurance.pet .bg {background: url("../image/img_sec_pet.png") no-repeat 0 80px;}

.sec-intro .highlight-item {
  border-radius: 16px;
  background-image: url("../image/img_banner_car.png");
  background-repeat: no-repeat;
  background-position: 400px 50px;
  background-color: #ee5a00;
}

.sec-intro .highlight-item .title,
.sec-intro .highlight-item .desc,
.sec-intro .button-area .link-btn {
  color: #fff;
}

.sec-intro .highlight-item .title {
  font-size: 36px;
}

.sec-intro .highlight-item .desc {
  font-size: 13px;
}

.sec-intro .highlight-item em {
  font-style: normal;
  font-size: 16px;
}

.sec-intro .intro-item a {
  border-radius: 16px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #f3f4f6;
  background-size: 120px 110px;
  background-position: 150px 50px;
}

.sec-intro .intro-item .title {
  font-size: 20px;
  font-weight: 700;
}

.sec-intro .intro-item .desc {
  font-size: 15px;
  opacity: 0;
  letter-spacing: -0.04em;
}

.sec-intro .intro-item.drive a {background-image: url("../image/img_drive.png");}
.sec-intro .intro-item.house_fire a {background-image: url("../image/img_house_fire.png");}
.sec-intro .intro-item.pet a {background-image: url("../image/img_pet.png");}
.sec-intro .intro-item.children a {background-image: url("../image/img_children.png");}
.sec-intro .intro-item.health a {background-image: url("../image/img_health.png");}
.sec-intro .intro-item.travel a {background-image: url("../image/img_travel.png");}
.sec-intro .intro-item.money a {background-image: url("../image/img_money.png");}

.sec-intro .intro-item:hover .title {
  color: #fff;
}

.sec-intro .intro-item:hover .desc {
  opacity: 1;
  color: #fff;
}

.sec-intro .intro-item:hover .active-bg {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.sec-intro .login-item {
  background-color: #f3f9ff;
  border-radius: 16px;
}

.sec-intro .login-item .title {
  font-size: 20px;
  color: #3f3f41;
}

.sec-intro .login-item .login-desc {
  font-size: 14px;
  color: #555;
  letter-spacing: -0.05em;
}

.sec-intro .login-item .login-link {
  border-radius: 16px;
  color: #fff;
  background-color: #4458f6;
}

.sec-intro .login-item .login-icon {
  background: url('../image/bg_image_sprite.png') no-repeat -702px -313px;
}

.sec-intro .button-area .link-btn {
  border-radius: 16px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.sec-intro .button-area .link-btn.active {
  color: #ee5a00;
  background-color: #fff;
}

.part-insurance .insurance-item {
  background-color: #f9f9fb;
  border-radius: 16px;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.part-insurance .insurance-item:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.part-insurance .insurance-item .link::after {
  content: "";
  background-image: url("../image/bg_image_sprite.png");
  background-repeat: no-repeat;
}

.part-insurance.drive,
.part-insurance.children,
.part-insurance.travel,
.part-insurance.pet {
  background-color: #f9f9fb;
}

.part-insurance.children .insurance-item,
.part-insurance.travel .insurance-item,
.part-insurance.pet .insurance-item {
  background-color: #fff;  
}

.part-insurance.car .insurance-item:nth-child(1) .link::after {background-position: -520px -274px;}
.part-insurance.car .insurance-item:nth-child(2) .link::after {background-position: -40px -86px;}
.part-insurance.car .insurance-item:nth-child(3) .link::after {background-position: -136px -86px;}
.part-insurance.car .insurance-item:nth-child(4) .link::after {background-position: -424px -274px;}

.part-insurance.health .insurance-item:nth-child(1) .link::after {background-position: -232px -86px;}
.part-insurance.health .insurance-item:nth-child(2) .link::after {background-position: -328px -86px;}

.part-insurance.children .insurance-item:nth-child(1) .link::after {background-position: -424px -86px;}

.part-insurance.house_fire .insurance-item:nth-child(1) .link::after {background-position: -40px -180px;}
.part-insurance.house_fire .insurance-item:nth-child(2) .link::after {background-position: -136px -180px;}
.part-insurance.house_fire .insurance-item:nth-child(3) .link::after {background-position: -232px -180px;}

.part-insurance.travel .insurance-item:nth-child(1) .link::after {background-position: -328px -274px;}
.part-insurance.travel .insurance-item:nth-child(2) .link::after {background-position: -328px -180px;}

.part-insurance.golf .insurance-item:nth-child(1) .link::after {background-position: -424px -180px;}
.part-insurance.golf .insurance-item:nth-child(2) .link::after {background-position: -40px -274px;}
.part-insurance.golf .insurance-item:nth-child(3) .link::after {background-position: -136px -274px;}

.part-insurance.pet .insurance-item:nth-child(1) .link::after {background-position: -232px -274px;}

.part-insurance .insurance-item h5 {
  font-size: 20px;
  font-weight: 500;
  color: #1f1f21;
  line-height: 1.4em;
  letter-spacing: -0.04em;
}

.part-insurance .insurance-item p {
  color: #555557;
  line-height: 1.5em;
  letter-spacing: -0.04em;
}

.diagnosis {
  background-color: #2c2c2c;
  background-image: url("../image/bg_diagnosis.png");
  background-repeat: no-repeat;
  background-position: center;
}

.diagnosis .desc {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.diagnosis .button {
  border-radius: 12px;
  border: 1px solid #dfdfe1;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #3F3F41;
}

.sec-post .sec-title .title {
  font-size: 32px;
  font-weight: 500;
  color: #1f1f21;
}

.sec-post .post-item + .post-item {
  border-left: 1px solid #efeff1;
}

.sec-post .post-item .title {
  font-size: 17px;
  font-weight: 500;
  color: #1f1f21;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sec-post .post-item time {
  font-size: 14px;
  color: #767676;
}

.sec-post .post-item .arrow {
  width: 25px;
  height: 24px;
  background: url("../image/bg_image_sprite.png") no-repeat -698px -202px;
}

.sec-post .more-button {
  text-decoration: underline;
  color: #767676;
}

.sec-post .more-button::after {
  content: "";
  background: url("../image/bg_image_sprite.png") no-repeat -707px -178px;
}